friendlyArmKernel/
friendlyArmKernel/switchAPMode/switchAPMode.py
friendlyArmKernel/miscScripts/blinkPerOrder.py

special-vendored-path/friendlyArmKernel/* linguist-vendored
python.py linguist-vendored=false
